# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3

# Entornos Virtuales
venv/
env/
.env

# Archivos estáticos y media (opcional, pero media suele ignorarse)
media/
# static/ 

# IDEs y SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs y backups
*.log
backup_neon.json
temp_stitch/
